<head>
  <% include head.ejs %>
  <style>
    button:disabled {
      background: #dddddd;
      color: #ffff00;
    }
  </style>
  <script>
    $( function() {
      var availableTags = <%=email%>
      $( "#tags" ).autocomplete({
        source: availableTags
      });
    } );
    $(function(){
      var nameTag = <%=name%>
      $("#tag_names").autocomplete({
        source: nameTag
      });
    });
</script>
</head>
<body style="height:520px">
  <% include nav.ejs %>
  <div class="col-lg-12" style="padding:0px 100px">
    <!-- left col -->
    <div class="col-lg-8 well" style="height:100%;overflow:scroll">
      <table class="table table-bordered">
        <tr style="text-align:center;background-color:gray;color:white">
          <td><b>NO.</b></td><td><b>Name</b></td><td><b>Email</b></td><td><b>Manage</b></td>
        </tr>
        <% for(var i=0;i<name.length;i++){ %>
          <tr style="text-align:center">
            <td><%= i+1 %></td><td><a href="/userdetail?name=<%= email[i] %>"><%= name[i] %></a></td><td><%= email[i] %></td>
            <%if(login_user == email[i]){%>
              <td><a href="/send?user=<%= email[i] %>"><input type="button" value="Message" style="width:100%" disabled></a></td>
            <%}%>
            <%if(login_user != email[i]){%>
              <td><a href="/read_message?user=<%= email[i] %>"><input type="button" value="Message" style="width:100%"></a></td>
            <%}%>
          </tr>
        <% } %>
      </table>
      <hr>
    </div>
    <!--start right col -->
    <div class="col-lg-4">
      <!-- search bar -->
      <div class="well" style="height:13%">
          <form method="get" action="/customer">
            <input style="width:65%" id="tag_names" placeholder="Search" name='search'>
            <input style="width:30%" type="submit" value="Search">
          </form>
      </div>
        <!-- add form -->
      <div class="well" style="height:83%">
        <form method="post" action="/message_send">
          <table class="table">
            <tr>
              <td>
                <input name="get_user" style="width:100%" id="tags" placeholder="Send to (email)">
              </td>
            </tr>
            <tr>
              <td><textarea name="message" style="resize:none;height:250px;width:100%"></textarea></td>
            </tr>
            <tr>
              <td><input type="submit" value="send"></td>
            </tr>
          </table>
        </form>
      </div>
    </div>
    <!-- end right col -->
  </div>
  <hr>
</body>
